* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: #121312;
}

.header {
  background: purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.button {
  border: none;
  font: inherit;
  background: #4d1601;
  color: white;
  padding: 0.75rem 3rem;
  display: flex;
  justify-content: space-around;
  border-radius: 25px;
  align-items: center;
  font-weight: bold;
}

.badge {
  background: #b94517;
  padding: 0.2rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.Shopping-cart {
  width: 750px;
  height: 420px;
  background: #fff;
  margin: 120px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_image {
  margin-right: 50px;
}

.product_image img {
  width: 120px;
  height: 80px;
}

.item {
  padding: 5px 30px;
  height: 100px;
  display: flex;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 800;
}

.footer {
  height: 60px;
  border-top: 1px solid #e1e8ee;
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
