.nav-menu {
  background: #121312;
  width: 250px;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.navbar {
  background: #121312;
  display: flex;
  height: 80px;
  justify-content: flex-start;
  align-items: center;
}

.navbar-toggle {
  background: #121312;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-bar {
  font-size: 2rem;
  margin-left: 2rem;
}

svg {
  color: white;
}

.nav-bar-item {
  width: 95%;
  padding-left: 10px;
}

.menu-text a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 5px;
}

.menu-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0 8px 8px;
  height: 60px;
}

.menu-text a:hover {
  background: orange;
}

span {
  margin-left: 15px;
}
